.vs/
.vscode/

api/node_modules

MCProximity/*.user
MCProximity/App.config
MCProximity/bin
MCProximity/obj

plugin/.classpath
plugin/.project
plugin/.settings
plugin/src/test
plugin/target